<% include partials/header %>

<header id="header">
    <h1> >> Welcome, hero!<img src="heart.png"> << </h1>
</header>

<div class="flex-container">
    <% if(result.length <= 0){%><p id="message">You have no current battles to fight</p><%};%>
    <% for(let i = 0; i < result.length; i++){
        if(i == 0 || result[i].name != result[i-1].name){ %> <!-- loop through and display skills-->
        <div class="skill">
            <div class="skill-progress">
                <div class="progressbar">
                    <span class="progress yellow" style="width:<%= result[i].curr_xp %>% 
                        <% if(result[i].curr_xp == 100){ %>
                            ;border-radius:5px"
                        <% } else{ %>
                            "
                        <% } %> <!-- display progress -->
                    </span>
                </div>
                <span class="label"><%= result[i].name %></span>
                <span class="lvl-progress">LVL <%= result[i].curr_lvl %>/<%= result[i].max_lvl %></span>
            </div>
            <div class="battles">
                <% for(let j = 0; j < result.length; j++){
                    if(result[j].name == result[i].name){ %>
                        <div class="battle">
                            <form action="/updates?_method=PUT" method="POST">
                                <input name="skill" type="hidden" value="<%= result[j].skill_ID %>">
                                <input name="xp" type="hidden" value="<%= result[j].xp %>">
                                <button type="submit">+</button>
                            </form>
                            <span class="battle-name"><%= result[j].description %></span>
                            <span class="xp"><%= result[j].xp %>XP</span>
                        </div>
                    <% };
                }; %>
            </div>
        </div>
    <% };
    }; %>
</div>

<% include partials/footer %>