<% include partials/header %>

<header id="header">
    <h1> -- Welcome, Hero! -- </h1>
</header>

<div class="flex-container">
    <% for(let i = 0; i < result.length; i++){
        if(i == 0 || result[i].name != result[i-1].name){ %> <!-- loop through and display skills-->
        <div class="skill">
            <div class="skill-progress">
                <div class="progressbar">
                    <span class="progress green" style="width:<%= result[i].curr_xp %>% 
                        <% if(result[i].curr_xp == 100){ %>
                            ;border-radius:5px"
                        <% } else{ %>
                            "
                        <% } %> <!-- display progress -->
                    </span>
                </div>
                <span class="edit-label"><%= result[i].name %></span>
                <span class="lvl-progress">LVL <%= result[i].curr_lvl %>/<%= result[i].max_lvl %></span>
                <a href="/skills/<%= result[i].skill_ID%>" class="edit btn">Edit</a>
                <form action="/skills/<%= result[i].skill_ID%>?_method=DELETE" method="POST">
                    <input type="submit" class="delete btn" value="DELETE">
                </form>
            </div>
            <div class="battles">
                <% if(result[i].battle_ID != null){
                    for(let j = 0; j < result.length; j++){
                    if(result[j].name == result[i].name){ %>
                        <div class="battle">
                            <a href="/battles/<%= result[j].battle_ID %>" class="edit btn small">Edit</a>
                            <form action="/battles/<%= result[j].battle_ID%>?_method=DELETE" method="POST">
                                <input type="submit" class="delete btn small" value="Del">
                            </form>
                            <span class="battle-name"><%= result[j].description %></span>
                            <span class="xp"><%= result[j].xp %>XP</span>
                        </div>
                    <% };
                }}; %>
                <form action="/battles/new?_method=PUT" method="POST">
                    <input type="hidden" value="<%= result[i].skill_ID %>" name="skillID">
                    <input type="submit" class="add btn small" value="Add">
                </form>
            </div>
        </div>
    <% };
    }; %>
</div>

<% include partials/footer %>